.productContainer {
    display: flex;
}
.productSlider {

}
.sliderItem {
    margin-bottom: 33px;
}
.sliderItem img{
    max-width: 80px;
    max-height: 80px;
}
.productImage img {
    max-width: 610px;
    max-height: 510px
}
.productInfo {

}