@import "../SCSS/Variables.scss";

.productImage {
    display: flex;
    justify-content: center;
}
.productImage img {
    max-width: 356px;
    max-height: 338px;
}
.productsContainer {
    display: flex;
    flex-wrap: wrap;
}
.productWrapper {
    flex: 0 1 30%;
    position: relative;
    margin: 5px;
    padding: 10px;
    transition: 0.2s;
    &:hover {
        -webkit-box-shadow: 3px 3px 12px 3px rgba(34, 60, 80, 0.11);
        -moz-box-shadow: 3px 3px 12px 3px rgba(34, 60, 80, 0.11);
        box-shadow: 3px 3px 12px 3px rgba(34, 60, 80, 0.11);
        cursor: pointer;
    }
}
.productWrapper a {
    color: black;
    text-decoration: none;
}
.productWrapper:hover .productCartWrap {
    opacity: 1;
    pointer-events: all;
    transition: 0.5s;
}
.productName {
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
}
.productPrice {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
}
.productCart {
    padding: 10px;
    
}
.productCartWrap {
    position: absolute;
    right: 15px;
    bottom: 45px;
    opacity: 0;
    pointer-events: none;
    width: 44px;
    height: 44px;
    border-radius: 49%;
    background-color: $primary_color;
    &:hover {
        -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 1);
        -moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 1);
        box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 1);
    }
}
